.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background-image: linear-gradient(rgba(46, 43, 43, 0.4), rgba(20, 35, 62, 0.4)), url("./back.jpg");
  background-position: center;
  background-size: cover;
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
  font-size: 1.0em;
}

.App-intro {
  font-size: large;
}

.App-footer { 
  position: fixed;
  font-size: 11px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(105,105,105,0.3);
/*    background: rgba(255,255,255,0.1);*/
/*    opacity: 1;*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
